<div class="col-md-10 col-md-offset-1">
  <p id="notice" class="text-info"><%= notice %></p>

  <%= form_for(@sale) do |f| %>

    <div class="form-group">
      <%= f.label :file, "Choose a file to import" %>
      <%= f.file_field :file %>
    </div>

    <%= f.submit "Import", :class => "btn btn-primary" %>
  
  <% end %>
</div>
